<header>

<div class="horizontalcssmenu">
<ul id="cssmenu1">

<% if signed_in? %>
  <li style="border-left: 1px solid #202020;"><%= link_to "Species  |", animals_path %></li>
   <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
 <% else %>
<li> <%= link_to "Home |", root_path %></li>
<li><%= link_to "About Us |", about_path %></li>
<li><%= link_to "Services & Support |", services_path %></li>
<li><%= link_to "News |", news_path %></li>
<li><%= link_to "Enquiry Service |", enquiry_path %></li>
<li><%= link_to "Species Recorder |", binatang_path %></li>
<li><%= link_to "Submit Sightings |", sightings_path %></li>
<li><%= link_to "Contact Us |", contact_path %></li>
<li><%= link_to "Admin", signin_path %></li>
 <% end %>


</header>

